footer {
    background-color: #557480;
}

footer img {
    width: 100%;
}

footer hr {
    border: none;
    border-top: 0.5em solid white;
    max-width: 1000px;
    margin: auto;
    padding: 1em 0 1em 0;
}

a[x-apple-data-detectors].footer-phone {
  color: white !important;
  text-decoration: none !important;
  /*font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;*/
}

.contact-us {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    background-color: #557480;
}

.contact-us h3 {
    font-size: 2em;
    padding: 0.5em;
    color: white;
} 

.caps {
    text-transform: uppercase;
    text-align: center;
}

.contact-us p {
    color: white;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    object-fit: cover;
}

.policy {
    display: flex;
    justify-content: center;
    line-height: 2em;
}

.policy a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

.policy a:hover {
    color: #BB1921;
    transition: linear 0.1s;
}

.copyright {
    color: white;
    text-align: right;
    padding: 5px;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    footer img {
        max-height: 300px;    
        object-fit: cover;
    }
}

@media screen and (min-width: 769px) {
    footer img {
        flex: 1;
        width: 50%;
        object-fit: cover;
    }

    .contact-us {
        flex: 1;
    }

}
