nav{
    background-color: #223D40;
}

header {
    background-color: #223D40;
    width: 100%;
}

 /*overlay for fullscreen menu*/
 /*flex container for curtain menu button*/
 .flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
    margin: auto;
}

.icon {
  font-size: 30px;
  cursor: pointer;
  padding-top: 30px;
  padding-right: 30px;
  text-align: right;
  color: #F7F4E2;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: scroll;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content .dropdown-btn {
  text-align: center;
  font-size: 36px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
}


nav {
    
}

.title {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #223D40;
    margin: 0;
    width: 100%;
}

.title h1 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    color: #F7F4E2;
}

.title h4 {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    padding: 0.5em;
    color: #F7F4E2;
}

.breadcrumbflex {
    display: flex;
    flex-wrap: wrap;
    background-color: #223D40;
    width: 100%;
}

.breadcrumbflex a {
    padding: 10px;
    text-decoration: none;
}

.breadcrumbflex a:hover {
    text-decoration: underline;
}

.breadcrumbflex a:not(:last-child)::after {
    content: "/";
    padding-left: 20px;
}

/*sidenav and curtain menu dropdown styles*/
.row {
    display: flex;
}

.side {
    width: 25%;
    background-color: #111;
}

/* Fixed sidenav, full height */
.sidenav {
  left: 0;
  position: sticky;
  top: 0px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main-article {
    width: 75%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  
}

.dropdown-container {
    display: none;
  background-color: #262626;
  padding-left: 8px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid #818181;
    float: right;
    margin-top: 5px;
}

/*media queries for sidenav and curtain menu*/
@media screen and (max-width: 480px) and (min-width:1px) {
    /*hide sidebar for smaller screens*/
    .side {
        display: none;
    }
    .main-article {
        width: 100%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /*hide sidebar for smaller screens*/
    .side {
        display: none;
    }
    .main-article {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
  /*hide icon for larger screens*/
    .icon {
        display: none;
    }

    .breadcrumbflex {
      padding-left: 25%;
    }
}
