.ad-copy-container{
    display: flex;
    flex-direction: column;
}

.services-title {
    background-color: #fff;
}
.services-body {
    background-color: #fff;
}
.services-title h2 {
    color: #223D40;
    font-size: 3em;
    text-transform: uppercase;
    padding: 0.5em;
}
.services-body h3 {
    color: #223D40;
    font-size: 2em;
    margin: auto;
    padding: 0.3em;   
    width: 100%;
    max-width: 1000px;
}

.services-body p:nth-of-type(13) {
    padding-top: 2.5em;
}



.services-body p { 
    color: #223D40;
    max-width: 1000px;
    line-height: 1.5;
    margin: auto;
    padding: 0.3em;
    width: 100%;
}

hr {
    padding: 2em;
    background-color: #fff;
}

.services-body img {
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 1em;
    height: 250px;
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .services-body img {
        height:350px;
    }
}
@media screen and (max-width: 1025px) and (min-width: 769px) {
    .services-body img {
        height: 450px;
    }
}
@media screen and (min-width: 1025px) {
    .services-body img {
        height: 500px;
    }
}
