* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    color: #F7F4E2;

    /*border: 1px solid red;*/
}

body {
    background-color: #223D40;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

h2 {
    font-size: 3em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    padding: 0.5em;

}

h2 {
    font-size: 1.75em;
    padding: 0.5em;
}

ul {
    margin: 1em;
}

li {
    padding: 0.5em;
    list-style-position: inside;
    list-style-type: none;
}


h3 {
  
}



h5 {
   
}

p {
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr.solid {
  border-top: 3px solid #F7F4E2;
}

/*overlay for fullscreen menu*/
/*flex container for menu button*/
.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.icon {
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
}

header{
 
} 

nav {
    
}

.title {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #223D40;
    margin: 0;
    width: 100%;
    max-width: 1400px;
}



.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hero-text h3 {
    color: #223D40;
   
}

.hero-text p {
    color: #223D40;
}

.shop .box-container h2 {
    font-size: 3em;
    text-decoration: underline;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.shop-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    /*width: 250px;*/
    margin: 10px;
    background-color: #211809;

    text-decoration: none;
    color: #F7F4E2;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 1.6em;
    /*background-image: url(./RifleButton.jpg);
    background-size: cover;
    filter: brightness(50%);*/
}

.shop-box p {
    color: #F7F4E2;
}

/*.shop-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;*/
}

.shop-box:hover{
    background-color: #223D40;
    filter: brightness(80%);
}

.hero2 {
    background-size: contain;
    overflow: hidden;
    height: 350px;
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: #223D40;
}

.service-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 5px;
    background-color: #223D40;
}

.service-box p{
    text-align: center;
}

.gunsmithing {
    background-color: #223D40;
    margin: 0;
}

.box-container {
    max-width: 1400px;
    margin: auto;
}

.gunsmithing p {
    color: #223D40;
}

.gunsmithing h2 {
    color: #223D40;
}

.gunsmithing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: #223D40;
}

.gunsmithing-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    background-color: #223D40;
}

.gunsmithing-box1 h2 {
    font-size: 1.7em;
    text-align: center;
    color: #F7F4E2;
}

.gunsmithing-box1 p {
    font-size: 0.9em;
    text-align: center;
    color: #F7F4E2;
}

.gunsmithing-box p{
    color: #F7F4E2;
    /*font-size: 1.5em;*/
    text-align: center;
}

.gunsmithing-box-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: #223D40;
}

.gunsmithing-box-end p{
    font-size: 0.9em;
    text-align: center;
    color: #F7F4E2;
}

.contact-us {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-left: 30px;
}

.contact-us h3 {
    font-size: 2em;
}

footer p {
    width: 100%;
    text-align: right;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    h1 {
        font-size: 3em;
    }
    .hero-text h3 {
    font-size: 1.5em;
    }
    .hero-text p {
    font-size: 1.5em;
    }
    .shop-box {
        width: 45%;
    }
    .hero-image {
    width: 100%;
    height: 450px;
    }
    .hero2 {
    height: 450px;
    }
    .service-box1 h2{
        font-size: 3em;
    }
    .gunsmithing-box1 {
        max-width: 700px;
    }
    .gunsmithing-box1 h2 {
        font-size: 3em;
    }
}

@media screen and (min-width: 769px) {
    * {
        font-size: 20px;
    }
    h1 {
        font-size: 3.5em;
    }
    .hero-image {
    width: 100%;
    height: 600px;
    }
    .hero2 {
    height: 600px;
    }
    .shop-box {
        width: 250px;
    }
    .service-box1 h2 {
        font-size: 3.5em;
    }
    .service-box {
        height: 200px;
        width: 200px;
    }
    .gunsmithing-box1 h2 {
        font-size: 3.5em;
    }
    .gunsmithing-box {
        height: 200px;
        width: 200px;
    }
}

